In [1]:
data = pd.read_csv('uci_thyroid03.csv')
data.drop(['TBG_measured','TBG','referral_source'],axis=1,inplace=True)

In [2]:
data.describe()

         age   sex on_thyroxine  ... FTI_measured   FTI thyroid_class
count   7540  7540         7540  ...         7540  7540          7540
unique    94     3            2  ...            2   235             3
top       59     F            f  ...            t     ?      negative
freq     190  4956         6612  ...         6772   768          7193

[4 rows x 27 columns]

In [3]:
data.thyroid_class.unique()

array(['negative', 'hyperthyroid', 'hypothyroid'], dtype=object)

In [4]:
data['sex'] = data['sex'].map({'F': 0, 'M': 1,'?':2})
data['sick'] = data['sick'].map({'f': 0, 't': 1})
data['I131_treatment'] = data['I131_treatment'].map({'f': 0, 't': 1})
data['hypopituitary'] = data['hypopituitary'].map({'f': 0, 't': 1})
data['psych'] = data['psych'].map({'f': 0, 't': 1})
data['tumor'] = data['tumor'].map({'f': 0, 't': 1})
data['goitre'] = data['goitre'].map({'f': 0, 't': 1})
data['lithium'] = data['lithium'].map({'f': 0, 't': 1})
data['pregnant'] = data['pregnant'].map({'f': 0, 't': 1})
data['on_thyroxine'] = data['on_thyroxine'].map({'f': 0, 't': 1})
data['thyroid_surgery'] = data['thyroid_surgery'].map({'f': 0, 't': 1})
data['query_hypothyroid'] = data['query_hypothyroid'].map({'f': 0, 't': 1})
data['query_hyperthyroid'] = data['query_hyperthyroid'].map({'f': 0, 't': 1})
data['query_on_thyroxine'] = data['query_on_thyroxine'].map({'f': 0, 't': 1})
data['on_antithyroid_medication'] = data['on_antithyroid_medication'].map({'f': 0, 't': 1})
data['thyroid_class'] = data['thyroid_class'].map({'negative': 0, 'hyperthyroid': 1,'hypothyroid':2})
data['T3 measured'] = data['T3 measured'].map({'f': 0, 't': 1})
data['TSH_measured'] = data['TSH_measured'].map({'f': 0, 't': 1})
data['TT4_measured'] = data['TT4_measured'].map({'f': 0, 't': 1})
data['T4U_measured'] = data['T4U_measured'].map({'f': 0, 't': 1})
data['FTI_measured'] = data['FTI_measured'].map({'f': 0, 't': 1})

In [5]:
data.replace('?',0,inplace=True)

In [7]:
data.head()

  age  sex  on_thyroxine  ...  FTI_measured  FTI  thyroid_class
0  23    0             0  ...             0    0              0
1  46    1             0  ...             1  120              0
2  70    0             1  ...             0    0              0
3  70    0             0  ...             1   70              0
4  18    0             1  ...             1  141              0

[5 rows x 27 columns]

In [8]:
data.to_csv('uci_mod.csv')

In [9]:
feat = data.iloc[:,0:-1]
tar = data.iloc[:,-1]