In [47]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [13]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [22]:
na = soup.find_all('li')

In [45]:
li=[]
for x in range(3,len(na)):
    if na[x].text.split()[0][-1]!='/':
        li.append(URL+na[x].text.split()[0])

In [46]:
li

['https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhypo.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allrep.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-Readme',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-test.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-thyroid.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/ann-train.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/dis.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/hypothyroid.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/hypothyroid.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick-euthyroid.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick-euthyroid.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.names',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick.test',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid.theory',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid0387.data',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/thyroid0387.names']

In [7]:
z = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.data')

In [11]:
z.describe()

,41,F,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,...,t.2,125,t.3,1.14,t.4,109,f.14,?,SVHC,negative.|3733
count,2799,2799,2799,2799,2799,2799,2799,2799,2799,2799,...,2799,2799,2799,2799,2799,2799,2799,2799,2799,2799
unique,94,3,2,2,2,2,2,2,2,2,...,2,218,2,139,2,210,1,1,5,2799
top,59,F,f,f,f,f,f,f,f,f,...,t,?,t,?,t,?,f,?,other,negative.|2964
freq,75,1829,2469,2759,2765,2689,2758,2760,2751,2636,...,2615,184,2502,297,2504,295,2799,2799,1632,1